.home {
    position: relative;

    overflow: scroll;

    width: 100%;
    height: 100%;
    padding-bottom: 230px;
    // min-height: 100%;

    background: #fff;

    -webkit-overflow-scrolling: touch;

    .feedback,
    .trouble {
        position: fixed;

        width: 66px;
        height: 66px;

        border-radius: 33px;
        background-color: #fff;
        box-shadow: #efefef 0 0 8px 4px;
    }

    .feedback {
        bottom: 500px;
        left: 26px;

        background-image: url("./assets/feedback.png");
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 40px 40px;
    }

    .feedbackdown {
        bottom: 220px;
    }

    .trouble {
        bottom: 400px;
        left: 26px;

        background-image: url("./assets/trouble.png");
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 40px 40px;
    }

    .troubledown {
        bottom: 120px;
    }

    .people {
        font-size: 28px;

        position: relative;

        display: flex;

        width: 192px;
        height: 60px;
        margin: 12px 40px;

        border-radius: 30px;
        background: rgba(245,245,245,1);

        align-items: center;
        justify-content: center;

        img {
            width: 22px;
            height: 22px;
            margin-right: 6px;
        }

        // .people-inner {
        //     width: 70px;
        //     height: 70px;
        //     margin: 5px;

        //     border-radius: 35px;
        //     background-color: #f6f9fe;
        //     background-image: url("./assets/people.png");
        //     background-repeat: no-repeat;
        //     background-position: 50%;
        //     background-size: 50px 50px;
        // }
    }

    .van-swipe {
        margin: 0 40px;

        border-radius: 14px;
        background: rgba(249,249,251,1);

        img {
            width: 100%;
            height: 310px;
        }
    }

    .content {
        margin: 20px 40px;

        .title {
            font-size: 28px;
            font-weight: 600;

            display: flex;

            margin: 20px 0;

            text-align: center;

            color: #333;

            align-items: center;
            justify-content: space-between;

            .van-icon {
                font-size: 28px;

                position: relative;
                top: 4px;
            }
        }
    }

    .content-empty {
        margin-top: 100px;

        text-align: center;

        img {
            width: 360px;
        }

        p {
            font-size: 32px;
            font-weight: 800;

            margin-top: 70px;

            color: #999;

            span {
                color: #6cb3cf;
            }
        }
    }

    .bottom-fixed {
        position: fixed;
        z-index: 12;
        bottom: 0;

        width: 100%;

        background-color: #fff;
        box-shadow: 0 0 12px 0 rgba(180,180,181,0.54);

        .bottom-top {
            display: flex;

            margin-top: 40px;

            justify-content: space-around;
            align-items: center;

            .fixed,
            .kefu {
                width: 112px;
                height: 112px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .kefu {
                position: relative;

                a {
                    position: absolute;
                    top: 0;
                    left: 0;

                    width: 112px;
                    height: 112px;

                    border-radius: 56px;
                }
            }

            .scan {
                font-size: 40px;
                font-weight: 500;

                display: flex;

                width: 384px;
                height: 144px;

                color: #fff;
                background-image: url("./assets/btn.png");
                background-repeat: no-repeat;
                background-size: 384px 144px;

                align-items: center;
                justify-content: center;

                img {
                    width: 40px;
                    height: 40px;
                    margin-right: 18px;
                }
            }
        }

        .bottom-bottom {
            font-family: PingFangHK-Regular;
            font-size: 22px;
            font-weight: 400;
            line-height: 32px;

            display: flex;

            height: 32px;
            margin: 18px 0;

            color: rgba(155,155,155,1);

            align-items: center;
            justify-content: center;

            img {
                width: 23px;
                height: 23px;
                margin-right: 6px;
            }

            .hand_input {
                border-bottom: 2px solid rgba(155,155,155,1);
            }
        }
    }

    .pop-ad {
        background: none;
    }

    .coupon-popup {
        width: 616px;
        height: 787px;

        background-color: rgba(255, 255, 255, 0);
        background-image: url("./assets/couponBack@3x.png");
        background-size: 100% 100%;

        .coupon-wrap {
            position: relative;

            width: 616px;
            height: 787px;

            .coupon-title {
                font-size: 28px;
                font-weight: 600;

                position: absolute;
                top: 136px;
                left: 0;

                width: 616px;
                margin: 0 auto;

                text-align: center;

                span {
                    color: red;
                }
            }

            .coupon-red {
                position: absolute;
                bottom: 0;
                left: 12px;

                width: 604px;
                height: 326px;
            }

            .home-coupon-list {
                position: absolute;
                top: 190px;
                left: 64px;

                display: flex;
                overflow: scroll;

                width: 500px;
                height: 580px;
                padding: 20px 0 300px;
                // border: 1px solid red;

                background-color: #fff;

                -webkit-overflow-scrolling: touch;
                flex-wrap: wrap;
                justify-content: center;

                .coupon-each {
                    position: relative;

                    width: 470px;
                    height: 156px;

                    background-image: url("./assets/coupon@3x.png");
                    background-position: 50% 50%;
                    background-size: 100% 100%;

                    .coupon-left {
                        font-size: 22px;

                        position: absolute;
                        top: 20px;
                        left: 20px;

                        width: 280px;
                        height: 110px;
                        padding-left: 20px;

                        color: #fff;
                        // border: 1px solid red;

                        p {
                            margin-top: 4px;
                        }

                        p:first-of-type {
                            font-size: 26px;
                        }
                    }

                    .coupon-right {
                        font-size: 32px;
                        font-weight: 500;

                        position: absolute;
                        top: 20px;
                        right: 20px;

                        display: flex;

                        width: 120px;
                        height: 116px;

                        color: #333;
                        // border: 1px solid red;

                        justify-content: center;
                        align-items: center;

                        span {
                            font-size: 28px;
                        }
                    }
                };
            }
        }
    }
}

.van-dialog {
    font-size: 36px;

    width: 70%;

    border-radius: 24px;

    .van-dialog__message {
        padding: 20px 60px;

        text-align: center;
    }

    .van-dialog__footer {
        // padding: 20px 0;
        .van-button {
            margin: 20px 0;

            .van-button__text {
                font-size: 36px;
            }
        }
    }
}

.person-over {
    background-color: rgba(0, 0, 0, 0.2);
}

.person-popup {
    width: 80%;
    height: 100%;
}

.van-popup {
    .popad-img {
        width: 550px;
        height: 750px;
    }
}

.login-popup {
    width: 100%;
    height: 100%;

    background: none;

    .login {
        position: absolute;
        top: 50%;
        left: 50%;

        width: 70%;
        // height: 300px; /* no */
        margin: auto;

        transform: translate(-50%, -50%);

        border: 1px solid #fff; /* no */
        border-radius: 16px; /* no */
        background-color: #c5e0ff;

        & > img {
            position: absolute;
            right: 0;

            width: 40px;
        }

        .title {
            font-size: 36px;
            line-height: 100px;

            height: 100px;

            text-align: center;

            color: #12b8f6;
        }

        form {
            padding: 20px; /* no */

            text-align: center;

            border-radius: 0 0 16px 16px; /* no */
            background-color: #fff;

            .input-wrap {
                display: flex;

                width: 100%;
                height: 80px;
                margin-bottom: 20px;
                padding: 20px;

                border-bottom: 1px solid #ddd; /* no */

                justify-content: space-between;

                .phone {
                    width: 28px;
                    margin-right: 22px;
                }

                .mail {
                    width: 40px;
                    margin-right: 16px;
                }

                input {
                    font-size: 24px;

                    width: 100%;
                    height: 40px;

                    border: none;
                }

                // .telephone-code {
                //     width: 70%;
                // }

                .get-pwd {
                    font-size: 24px;
                    line-height: 40px;

                    width: 340px;
                    padding-left: 10px;

                    color: #12b8f6;
                    border-left: 2px solid #ddd; /* no */
                }
            }

            .image-captcha-wrap {
                position: relative;

                height: 40px;
                margin-bottom: 30px;

                .van-cell {
                    padding: 0;
                }

                .van-cell__title {
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 70px;

                    max-width: 100px;
                    height: 70px;

                    color: #777;
                }

                .van-cell__value {
                    input {
                        font-size: 24px;

                        height: 70px;
                    }
                }

                img {
                    position: absolute;
                    top: 10px;
                    right: 20px;

                    width: 140px;
                    height: 40px;
                }
            }

            .van-cell:not(:last-child)::after {
                left: 0;
            }

            // .van-field {
            //     .van-cell-wrapper {
            //         padding: 0;

            //         background: none;
            //     }
            // }

            .van-button {
                line-height: 60px;

                width: 320px;
                height: 60px;
                margin: 0 auto;
                margin-top: 20px; /* no */

                border: none;
                border-radius: 18px; /* no */
                background-color: #12b8f6;

                .van-button__text {
                    font-size: 30px;
                }
            }

            .protocol {
                font-size: 24px;

                margin-top: 20px;

                color: #b3b3b3;
            }
        }
    }

    .code {
        font-family: "Microsoft YaHei ";

        width: 600px;
        height: 600px;
        margin: auto;
        margin-top: 300px;
        padding: 80px;

        text-align: center;

        border-radius: 30px;
        background-color: #fff;

        p:first-of-type {
            font-size: 30px;
            font-weight: bold;
        }

        p:last-of-type {
            font-size: 24px;

            margin: 20px 0;

            color: #aaa;
        }

        img {
            width: 380px;
        }
    }
}

.van-toast {
    width: auto;
    height: auto;
}
