.edit-name {
    font-size: 32px;

    width: 100%;
    height: 100%;
    padding-top: 30px;

    background-color: #fff;

    input {
        font-size: 32px;
    }

    .tip {
        font-size: 24px;

        padding: 10px 20px;
    }

    .van-button--large {
        font-size: 28px;
        line-height: 80px;

        width: 80%;
        height: 80px;
        margin: 30px 10%;

        border-radius: 30px;
        background-color: #2fc6f8;
    }
}
