.meal {
    overflow: scroll;

    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 10px 40px 130px;

    background-image: url("./assets/top.png");
    background-repeat: no-repeat;
    background-position: 0 -100px;
    background-size: 750px 290px;

    -webkit-overflow-scrolling: touch;

    .my-card {
        font-size: 32px;

        padding: 20px;

        text-align: right;
    }


    .card {
        position: relative;

        width: 670px;
        height: 400px;

        background-image: url("./assets/single-card.png");
        background-repeat: no-repeat;
        background-size: 670px 400px;

        .card-title {
            font-family: PingFangHK-Medium;
            font-size: 40px;
            font-weight: 500;
            line-height: 36px;

            position: absolute;
            top: 40px;
            left: 40px;

            height: 36px;

            color: rgba(255,255,255,1);

            .card-name {
                margin-right: 28px;
            }

            .card-name::after {
                font-size: 44px;

                position: absolute;
                top: -12px;

                margin-left: 10px;

                content: ".";
            }
        }

        .card-detail {
            position: absolute;
            right: 40px;
            bottom: 40px;

            text-align: right;

            .days {
                font-family: PingFangHK-Regular;
                font-size: 28px;
                font-weight: 400;
                line-height: 36px;

                height: 36px;
                margin-top: 20px;

                color: rgba(255,255,255,0.54);
            }

            .price {
                font-family: PingFangHK-Regular;
                font-size: 28px;
                font-weight: 400;
                line-height: 36px;

                width: 222px;
                height: 36px;

                color: rgba(255,255,255,1);

                span {
                    font-size: 64px;

                    margin: 0 20px;
                }
            }
        }
    }

    .many-card {
        background-image: url("./assets/card.png");

        .start-and-end {
            font-size: 28px;

            position: absolute;
            top: 106px;
            left: 40px;

            color: rgba(255, 255, 255, 0.54);
        }

        .day {
            font-size: 28px;
            font-size: 40px;

            position: absolute;
            bottom: 48px;
            left: 40px;

            color: #fff;
        }
    }

    .title {
        font-size: 36px;
        font-weight: 500;

        margin: 40px;
        margin: 40px 0 4px 24px;

        color: rgba(0, 0, 0, 1);
    }

    .card-list {
        display: flex;

        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .each-card {
            font-family: PingFangHK-Regular;
            font-size: 36px;
            font-weight: 400;

            display: flex;

            width: 324px;
            height: 150px;
            margin-top: 22px;

            color: rgba(0,0,0,1);
            border: 2px solid rgba(231,231,232,1);
            border-radius: 14px;

            justify-content: center;
            align-items: center;

            .ori-amount {
                font-family: PingFangHK-Regular;
                font-size: 24px;
                font-weight: 400;

                color: rgba(155,155,155,1);

                text-decoration-line: line-through;
            }
        }

        .active {
            border: 2px solid rgba(18,184,246,1);

            .now-account {
                color: rgba(18,184,246,1);
            }
        }
    }

    .rule {
        li {
            font-family: PingFangHK-Medium;
            font-size: 24px;
            font-weight: 500;
            line-height: 34px;

            position: relative;

            width: 668px;
            height: 34px;
            margin-top: 24px;

            color: rgba(155,155,155,1);
        }

        li::before {
            font-size: 48px;
            // position: absolute;

            position: relative;
            top: -6px;

            margin-right: 216x;

            content: ".";
        }
    }

    .buy {
        font-size: 30px;

        position: absolute;
        bottom: 66px;
        left: 72px;

        display: flex;

        width: 606px;
        height: 98px;

        color: #fff;
        border-radius: 47px;
        background: rgba(47,198,248,1);
        box-shadow: 0 4px 8px 0 rgba(47,198,248,0.3);

        justify-content: center;
        align-items: center;
    }

    .many-buy {
        position: absolute;
        bottom: 0;
        left: 0;

        display: flex;

        width: 100%;
        height: 98px;

        background: rgba(255,255,255,1);
        box-shadow: 0 -12px 36px 0 rgba(180,180,181,0.32);

        align-items: center;

        div {
            display: flex;

            align-items: center;
        }

        .pay-price {
            font-family: PingFangHK-Regular;
            font-size: 48px;
            font-weight: 400;

            height: 98px;
            padding-left: 30px;

            color: rgba(0,0,0,1);

            flex: 1;

            span {
                font-size: 28px;

                position: relative;
                top: 6px;
            }
        }

        .buy-btn {
            font-size: 36px;

            width: 240px;
            height: 98px;

            color: #fff;
            background: rgba(18,184,246,1);
            box-shadow: 0 4px 8px 0 rgba(47,198,248,0.3);

            justify-content: center;
        }
    }
}
